select {
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 8.5pt;
}

.textBold {
        font-weight: bold;
}

ul.navigationStandard {
        font-family: Tahoma; 
        font-size: 8pt;
        list-style: none url(http://www.informationr.net/images/clear.gif) outside;
}

.navigationCategory {      
        font-family: Tahoma; 
        font-size: 8pt; 
        color: #413f3f;
        font-weight: bold;
        padding: 10px 0px 0px 20px;
}

.navigationCategory a:link, .navigationCategory a:visited {     
        font-family: Tahoma; 
        font-size: 8pt;
        color: #413f3f; 
        text-decoration: none; 
}

.navigationCategory a:hover { 
        font-family: Tahoma; 
        font-size: 8pt;
        color: #413f3f; 
        text-decoration: underline;  
}

.navigationSelect {
        font-family: Tahoma; 
        font-size: 8pt;
        padding: 2px;
        background: #ffffff;
}

.navigationSelect a:link, .navigationSelect a:visited {     
        font-family: Tahoma; 
        font-size: 8pt;
        color: #413f3f; 
        text-decoration: none; 
}

.navigationLink {
        font-family: Tahoma; 
        font-size: 8pt;
        color: #413f3f;
        padding: 2px;
}

.navigationLink a:link, .navigationLink a:visited {     
        font-family: Tahoma; 
        font-size: 8pt;
        color: #413f3f; 
        text-decoration: none; 
}

.navigationLink a:hover {
        font-family: Tahoma; 
        font-size: 8pt; 
        color: #413f3f; 
        text-decoration: underline;  
}

.textSmall {
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 8.5pt;
}

.textSmallBold {
        font-size: 8.5pt;
        font-weight: bold;
}

.textRed { 
        color: #cc0000; 
}

.required { 
        color: #cc0000;
}

.textBoldRed { 
        font-weight: bold;        color: #cc0000; 
}

.textWhite { 
        color: #ffffff; 
}

.textBoldWhite { 
        font-weight: bold;
        color: #ffffff; 
}

.secondaryText {
        font-size: 8pt;
}

.secondaryTextSmall { 
        font-size: 7pt;
}

.textStrike {
        text-decoration:line-through;
}

/*
 * These are link styles
 */
.secondaryTextBlue { 
        font-family: Tahoma;
        color: #003366;
}

a.secondaryTextBlue, a.secondaryTextBlue:visited, a.secondaryTextBlue:link, a.secondaryTextBlue:hover { 
        color:#003366;
        text-decoration: underline; 
}

.secondaryTextWhite {
        font-family: Tahoma;
        color: #ffffff;
}

a.secondaryTextWhite, a.secondaryTextWhite:visited, a.secondaryTextWhite:link, a.secondaryTextWhite:hover { 
        color:#ffffff;
        text-decoration: underline; 
}

/*
 * Orange / Secondary Special
 */
.special, .premium {
        font-family: Tahoma;
        font-size: 8.5pt;
        font-weight: bold; 
        color: #ff6600; 
}

a.special, a.special:visited, a.special:link, a.special:hover a.premium a.premium:visited, a.premium:link a.premium:hover { 
        color: #ff6600;
        text-decoration: underline; 
}

/*
 * Not So Bright Orange
 */
.premium, a.premium, a.premium:visited, a.premium:link a.premium:hover {
        color: rgb(204, 102, 0); 
}

.heading { 
        font-family: Tahoma; 
        font-size: 11pt; 
        font-weight: bold; 
        color: #413f3f; 
        margin-left: 2px;
        margin-bottom: 2px;
        text-align: left;
}

.headingLargeWhite { 
        font-family: Tahoma; 
        font-size: 11pt; 
        font-weight: bold;
        color: #ffffff;
        margin-left: 2px;
        margin-bottom: 2px;
        text-align: left;
}

.headingMedium { 
        font-family: Tahoma; 
        font-size: 9pt; 
        font-weight: bold;
        color: #413f3f;
        margin-left: 2px;
        margin-bottom: 2px;
        margin-top: 8px;
        text-align: left;
}

.headingSmall { 
        font-family: Tahoma; 
        font-size: 8.5pt; 
        font-weight: bold; 
        color: #413f3f;
        margin-left: 2px;
        margin-bottom: 2px;
        text-align: left;
}

.headingWhite { 
        font-family: Tahoma; 
        font-size: 8.5pt; 
        font-weight: bold; 
        color: #ffffff; 
        margin-left: 2px;
        margin-bottom: 2px;
}

.textInput { 
        background-image: url(http://www.informationr.net/images/tile.gif); 
        background-color: #ffffff;
}

/*
 * The shadow at the bottom of the page 
 */
.bottomshadow { 
        height: 12px;
        background-image: url("http://www.informationr.net/images/border_bottom.gif");
        background-repeat: repeat-x;
}

.bottom {
        background-color: #f0f0f0;
}

/*
 * This is for Toaster Popup
 */
.popupText { 
        color: #FFFFFF; 
        background : #413f3f;
}

/*
 * Table Grids - outline cells
 */
.grid {
        margin: 2px 0px 5px 0px;
        border-collapse: collapse;
}

.grid th  {
        border: 1px solid #ccc;
        padding: 2px 4px 2px 4px;
        background: #f0f0f0;
        text-align: center;
}

.grid td  {
        border: 1px solid #ccc;
        padding: 3px 4px 3px 4px;
}

.nogrid td {
        border: none;
}

.cellgrid {
        border: 1px solid #ccc;
        padding: 3px 4px 3px 4px;
}

.simpleBorder {
    padding: 2px;
    margin: 2px;
    border: 1px solid #ccc;
}

tr.alt {
        background: #ccc;
}

.channelHeader { 
        background: url(http://www.informationr.net/images/channelHeader.gif);
        color: #413f3f;
        font-weight: bold;
        white-space: nowrap;
}

div.channelHeader {
        margin: 8px 0px 0px 0px;
        padding-left: 3px;
        height: 25px;
}

.headingBoxReport { 
        background-color: #413f3f; 
        padding: 3px;
        color: #ffffff;
        font-weight:bold; 
        font-size: 11pt;
}

/*
 * Single px line
 */
.singleLine { 
        border-bottom: 1px solid #ccc; 
        margin-bottom:5px;
}

/*
 * List stylsheets
 */
ol { 
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 16px;
        margin-left: 1.25em;   
        padding-left: 1.25em;
}

ol li { 
        margin: 0px 0px 5px 0px;
}

ul { 
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 16px;
        margin-left: 1.25em; 
        padding-left: 1.25em;
        list-style: none url(http://www.informationr.net/images/standard_bullet.gif) outside;
}

ul li { 
        padding: 0px 4px 5px 0px;

}

ul.whiteBullet {
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 16px;
        margin-left: 1.25em;
        padding-left: 1.25em;
        list-style: none url(http://www.informationr.net/images/standard_bullet_white.gif) outside;
}

ul.notice { 
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 16px;
        margin-left: 1.25em; 
        padding-left: 1.25em;   
        list-style: none url(http://www.informationr.net/images/bullet_cube.gif) outside;
}

ul.noimage { 
        padding: 0px 0px 0px 0px;
        margin: 5px 0px 0px 16px;
        margin-left: 1.25em; 
        padding-left: 1.25em;
        list-style: none url(http://www.informationr.net/images/clear.gif) outside;
}

.panelHeader {
        font-size: 12px;
        padding: 4px 6px 4px 6px;
        border-style: solid none solid none;
        cursor: pointer;
}

#navContainer {
        width: 160px;
        margin: 0px 1px 3px 1px;
}

#navTop {
        background-image: url(http://www.informationr.net/images/nav_top.gif);
        background-repeat: no-repeat;
        height: 5px;
        overflow: hidden;
}

#graybackground {
        background-image: url(http://www.informationr.net/images/nav_regular.gif);
        background-repeat:repeat-y;
}

#navGrayBtm2 { 
        background-image:url(http://www.informationr.net/images/nav_btm.gif);
        background-repeat: no-repeat;
        background-position: top;
        width: 160px;
        height: 8px;
        padding: 0px;
}

#navDivider { 
        background-image: url(http://www.informationr.net/images/nav_gray_divide.gif); 
        background-repeat:no-repeat;
        height: 5px;
}

.navHeading {      
        padding-top: 2px; 
        padding-bottom: 2px; 
        padding-left: 8px; 
        padding-right: 6px;
        font-family: Tahoma; 
        font-size: 8pt; 
        color: #413f3f;
        font-weight: bold;
}

.navHeading a:link, .navHeading a:visited {     
        color: #413f3f; 
        text-decoration: none; 
}

.navHeading a:hover { 
        color: #413f3f; 
        text-decoration: underline;  
}

.navRow {      
        padding-top: 2px; 
        padding-bottom: 2px; 
        padding-left: 15px; 
        padding-right: 6px;
        font-family: Tahoma; 
        font-size: 8pt; 
        color: #413f3f;
        font-weight: bold;
}

.navRow a:link, .navRow a:visited {     
        color: #413f3f; 
        text-decoration: none; 
}

.navRow a:hover { 
        color: #413f3f; 
        text-decoration: underline;  
}

.navRowCurrent {
        background-image: url(http://www.informationr.net/images/nav_current.gif);
        background-position: left 7px;
        background-repeat: no-repeat;
        background-position: top;       
        padding-top: 2px; 
        padding-bottom: 2px; 
        padding-left: 15px; 
        padding-right: 6px;
        font-family: Tahoma; 
        font-size: 8pt; 
        color: #413f3f;
        font-weight: bold;
}

.navRowCurrent a:link,  .navRowCurrent a:visited { 
        color: #413f3f;
        text-decoration:none; 
}
.navRowCurrent a:hover { 
        color: #413f3f; 
        text-decoration: underline;  
}

/*
 * Sub Nav Styles
 */ 

#navSubContainer {
        margin: 0px;
        padding: 0px;
        width: 160px;
        background-color: #eeeeee;
}

#navSubTop{
        background-image:url(http://www.informationr.net/images/grey-top.gif);
        background-repeat: no-repeat;
        background-position: bottom;
        background-color: #ffffff;
        width: 160px;
        height: 7px;
}

#navSubBottom { 
        background-image:url(http://www.informationr.net/images/grey-bottom.gif);
        background-repeat: no-repeat;
        background-position: top;
        background-color: #ffffff;
        width: 160px;
        height: 7px;
}

.navSubRow {      
       padding-top: 2px; 
       padding-bottom: 2px; 
       padding-left: 8px; 
       padding-right: 6px;
       font-family: Tahoma; 
       font-size: 8pt; 
       color: #413f3f;
       font-weight: bold;
}

.navSubRow a:link, .navSubRow a:visited { 
        color: #413f3f; 
        text-decoration: none; 
}

.navSubRow a:hover { 
        color: #413f3f;
        text-decoration: underline;  
}

/*
 * Fancy Drop
 */
#fancyDropTop {
        font-family: Tahoma; 
        font-weight: bold; 
        color: #ffffff;
        background-position: bottom;
        margin: 0px 13px 0px 0px;
        padding: 3px 3px 3px 3px;        
}

#fancyDropContainer {
        margin: 0px;
        padding: 0px;
        width: 250px;
}

#fancyDropExt {
        background-image: url(http://www.informationr.net/images/fancy_drop_ext.gif);
        background-repeat:repeat-y;
        background-position: top;
        margin: 0px;
        padding: 0px;
}

#fancyDropBottom { 
        background-image:url(http://www.informationr.net/images/fancy_drop_bottom.gif);
        background-repeat: no-repeat;
        background-position: top;
        width: 250px;
        height: 17px;
}

#fancyDropText {      
       padding: 5px 18px 5px 10px;
}

/*
 * Fancy Drop 180
 */
#fancyDropTop180 {
        font-family: Tahoma; 
        font-weight: bold; 
        color: #ffffff;
        background-position: bottom;
        margin: 0px 9px 0px 0px;
        padding: 3px 3px 3px 3px;        
}

#fancyDropContainer180 {
        margin: 0px;
        padding: 0px;
        width: 180px;
        text-align:left;
}

#fancyDropExt180 {
        background-image: url(http://www.informationr.net/images/fancy_drop_ext_180.gif);
        background-repeat:repeat-y;
        background-position: top;
        margin: 0px;
        padding: 0px;
}

#fancyDropBottom180 { 
        background-image:url(http://www.informationr.net/images/fancy_drop_bottom_180.gif);
        background-repeat: no-repeat;
        background-position: top;
        width: 180px;
        height: 17px;
}

#fancyDropText180 {      
       padding: 5px 14px 5px 10px;
}

/*
 * Fancy Drop 320 - Typically used for the screenshots
 */
#fancyDropTop335 {
        font-family: Tahoma; 
        color: #413f3f;
        background-position: bottom;
        margin: 0px 16px 0px 0px;
        padding: 3px 3px 3px 3px;        
}

#fancyDropContainer335 {
        margin: 0px;
        padding: 0px;
        width: 335px;
}

#fancyDropExt335 {
        background-image: url(http://www.informationr.net/images/fancy_drop_ext_335.gif);
        background-repeat:repeat-y;
        background-position: top;
        margin: 0px;
        padding: 0px;
}

#fancyDropBottom335 { 
        background-image:url(http://www.informationr.net/images/fancy_drop_bottom_335.gif);
        background-repeat: no-repeat;
        background-position: top;
        width: 335px;
        height: 17px;
}

#fancyDropText335 {      
       padding: 5px 14px 5px 10px;
}


/*
 * These navcontrol styles are for the slideshow
 */

.navcontrol {
        background-color: #ffffff;
        border: 1px solid #666666;
}

.navcontrol_cell {
        border-bottom: 1px solid #E0E0E0;
        padding:2px;
}

.navcontrol_row {
        font-size: 9pt;
        cursor: pointer;
}

.navcontrol_close {
        border:1px solid #ffffff;
        color: #ffffff;
}

.navcontrol_header {
        font-weight: bold;
        color: #ffffff;
        background-color: #965B60;
        cursor:pointer;
        font-size: 7.5pt;
}

.dropshadow {
        background-image: url(http://www.informationr.net/images/ds.gif); 
        background-position: left top; 
        background-repeat: no-repeat;  
        background-color: #DADADA; 
        width: 3px; 
}

.dropshadowbottom {
        background-image: url(http://www.informationr.net/images/ds.gif); 
        background-position: left top; 
        background-repeat: no-repeat;  
        background-color: #DADADA; 
        height: 3px;
}

.darkstroke { 
        border: 1px solid #336699;
}

.darkstroke .boxTitle { 
        position: absolute;
        top: -8px;
        background-color:#fff;
        padding: 0 3px 0 3px;
        font-size: 10px;
        margin-left:10px;
}

#menu {
        PADDING-LEFT: 10px; 
        PADDING-BOTTOM: 19px; 
        MARGIN: 0px; 
        BORDER-BOTTOM: #413f3f 1px solid;
}

#menu ul li a:link {
        BORDER: #413f3f 1px solid; 
        PADDING: 2px 10px 2px 10px;                 
        FONT-WEIGHT: bold; 
        BACKGROUND: #413f3f; 
        FLOAT: left; 
        COLOR: #f0f0f0; 
        LINE-HEIGHT: 14px; 
        MARGIN-RIGHT: 8px; 
        TEXT-DECORATION: none; 
}

#menu ul li a:visited {
        BORDER: #413f3f 1px solid; 
        PADDING: 2px 10px 2px 10px;                 
        FONT-WEIGHT: bold; 
        BACKGROUND: #413f3f; 
        FLOAT: left;
        COLOR: #f0f0f0; 
        LINE-HEIGHT: 14px; 
        MARGIN-RIGHT: 8px; 
        TEXT-DECORATION: none; 
}

#menu ul li a.active:link {
        BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}

#menu ul li a.active:visited {
        BACKGROUND: #fff; COLOR: #000; BORDER-BOTTOM: #fff 1px solid
}

#menu ul {
        PADDING: 0px; 
        DISPLAY: inline; 
        MARGIN: 0px; 
        LIST-STYLE-TYPE: none;
}

#menu ul li {
        PADDING: 0px; 
        DISPLAY: inline; 
        MARGIN: 0px; 
        LIST-STYLE-TYPE: none;
}

#menu ul li a:hover {
        color: #ffffff;
}

#menu ul li#nav-other {
        float:right;
}

#menu ul li#nav-other a {
        background:none;
        border:none;
        font-weight:normal;        
        color: #000;
}

#contents {
        clear: both; 
        border-right: #413f3f 1px solid; 
        background: #ffffff; 
        padding-bottom: 15px; 
        margin: 0px; 
        border-left: #413f3f 1px solid; 
        padding-top: 15px; 
        border-bottom: #413f3f 1px solid; 
}

#panelContents {
        clear: both; 
        background: #ffffff; 
        padding: 0px; 
        margin: 0px;
        border-bottom: #413f3f 1px solid; 
}

DIV.section-1 #menu LI#nav-1 A {
        BACKGROUND: #ffffff; 
        COLOR: #413f3f; 
        BORDER-BOTTOM: #fff 1px solid;
}

DIV.section-2 #menu LI#nav-2 A {
        BACKGROUND: #ffffff; 
        COLOR: #413f3f; 
        BORDER-BOTTOM: #fff 1px solid;
}

DIV.section-3 #menu LI#nav-3 A {
        BACKGROUND: #ffffff; 
        COLOR: #413f3f; 
        BORDER-BOTTOM: #fff 1px solid;
}

DIV.section-4 #menu LI#nav-4 A {
        BACKGROUND: #ffffff; 
        COLOR: #413f3f; 
        BORDER-BOTTOM: #fff 1px solid;
}

DIV.section-5 #menu LI#nav-5 A {
        BACKGROUND: #ffffff; 
        COLOR: #413f3f; 
        BORDER-BOTTOM: #fff 1px solid;
}

DIV.section-6 #menu LI#nav-6 A {
        BACKGROUND: #ffffff; 
        COLOR: #413f3f; 
        BORDER-BOTTOM: #fff 1px solid;
}

DIV.section-7 #menu LI#nav-7 A {
        BACKGROUND: #ffffff; 
        COLOR: #413f3f; 
        BORDER-BOTTOM: #fff 1px solid;
}

.highlight {
        background-color:#ffc;
}

.error {
        font-weight: normal;
        color: #cc0000;
}

/*
 * PorterPopup
 */
.shadowedBox,.shadowedBoxIE {
        display:none;
        position : absolute;
        margin-left: -16px;
        margin-top: -2px;
        z-index: 1000;
}
.shadowedBox .drop.a { 
        background-image: url(http://www.informationr.net/images/shadow/drop-a.png); width: 22px; height: 22px; 
}
.shadowedBox .drop.b { 
        background-image: url(http://www.informationr.net/images/shadow/drop-b.png); width: 37px; height: 22px; 
}
.shadowedBox .drop.c { 
        background-image: url(http://www.informationr.net/images/shadow/drop-c.png); height: 22px; 
}
.shadowedBox .drop.d {
        background-image: url(http://www.informationr.net/images/shadow/drop-d.png); width: 27px; height: 22px; 
}
.shadowedBox .drop.e { 
        background-image: url(http://www.informationr.net/images/shadow/drop-e.png); width: 32px; height: 22px; 
}
.shadowedBox .drop.f { 
        background-image: url(http://www.informationr.net/images/shadow/drop-f.png); width: 32px; height: 37px; 
}
.shadowedBox .drop.g { 
        background-image: url(http://www.informationr.net/images/shadow/drop-g.png); width: 32px; height: auto; 
}
.shadowedBox .drop.h { 
        background-image: url(http://www.informationr.net/images/shadow/drop-h.png); width: 32px; height: 27px; 
}
.shadowedBox .drop.i { 
        background-image: url(http://www.informationr.net/images/shadow/drop-i.png); width: 32px; height: 32px; 
}
.shadowedBox .drop.j { 
        background-image: url(http://www.informationr.net/images/shadow/drop-j.png); width: 27px; height: 32px; 
}
.shadowedBox .drop.k { 
        background-image: url(http://www.informationr.net/images/shadow/drop-k.png); height: 32px 
}
.shadowedBox .drop.l { 
        background-image: url(http://www.informationr.net/images/shadow/drop-l.png); width: 37px; height: 32px; 
}
.shadowedBox .drop.m { 
        background-image: url(http://www.informationr.net/images/shadow/drop-m.png); width: 22px; height: 32px; 
}
.shadowedBox .drop.n { 
        background-image: url(http://www.informationr.net/images/shadow/drop-n.png); width: 22px; height: 27px; 
}
.shadowedBox .drop.o { 
        background-image: url(http://www.informationr.net/images/shadow/drop-o.png); width: 22px; height: auto; 
}
.shadowedBox .drop.p { 
        background-image: url(http://www.informationr.net/images/shadow/drop-p.png); width: 22px; height: 37px; 
}

.shadowedBoxBody {
        border: solid 2px #333333;
        background-color: white;
        padding:10px;
}
/* IE Related Styles*/

.shadowedBoxIE .drop.a {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-a.png', sizingMethod='image');
        background-image: none;
        width: 22px; height: 22px;         
}

.shadowedBoxIE .drop.b {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-b.png', sizingMethod='image');
        background-image: none;
        width: 37px; height: 22px;         
}

.shadowedBoxIE .drop.c {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-c.png', sizingMethod='scale');
        background-image: none;
        height: 22px;         
}

.shadowedBoxIE .drop.d {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-d.png', sizingMethod='image');
        background-image: none;
        width: 27px; height: 22px;         
}

.shadowedBoxIE .drop.e {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-e.png', sizingMethod='image');
        background-image: none;
        width: 32px; height: 22px;         
}

.shadowedBoxIE .drop.f {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-f.png', sizingMethod='scale');
        background-image: none;
        width: 32px; height: 37px;         
}

.shadowedBoxIE .drop.g {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-g.png', sizingMethod='scale');
        background-image: none;
        width: 32px; height: auto;         
}

.shadowedBoxIE .drop.h {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-h.png', sizingMethod='scale');
        background-image: none;
        width: 32px; height: 27px;         
}

.shadowedBoxIE .drop.i {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-i.png', sizingMethod='image');
        background-image: none;
        width: 32px; height: 32px;         
}

.shadowedBoxIE .drop.j {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-j.png', sizingMethod='image');
        background-image: none;
        width: 27px; height: 32px;         
}

.shadowedBoxIE .drop.k {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-k.png', sizingMethod='scale');
        background-image: none;
        height: 32px         
}

.shadowedBoxIE .drop.l {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-l.png', sizingMethod='image');
        background-image: none;
        width: 37px; height: 32px;         
}

.shadowedBoxIE .drop.m {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-m.png', sizingMethod='image');
        background-image: none;
        width: 22px; height: 32px;         
}

.shadowedBoxIE .drop.n {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-n.png', sizingMethod='scale');
        background-image: none;
        width: 22px; height: 27px; 
}

.shadowedBoxIE .drop.o {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-o.png', sizingMethod='scale');
        background-image: none;
        width: 22px; height: auto; 
}

.shadowedBoxIE .drop.p {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadow/drop-p.png', sizingMethod='scale');
        background-image: none;
        width: 22px; height: 37px; 
}

.transparent {
    filter:alpha(opacity=50);
    -moz-opacity: 0.50;
    background-color:#cccccc;
    color: white;
    border: 1 #cccccc solid;
}

.dashedSingleLine {
    border-top:1px dashed #cccccc;
    padding-top:6px;
    padding-bottom:3px;
    margin-top:3px;
    text-align:right;
}

.dashedSingleLineTop {
    border-bottom:1px dashed #cccccc;
    padding-bottom:6px;
    padding-top:3px;
    margin-bottom:3px;
    text-align:right;
}


.indent {
    padding-left:8px;
}

.dashedSingleLineWhite {
    border-top:1px dashed #ffffff;
}

h1.fancyHeader {
  background: url('http://www.informationr.net/images/heading_background.gif') no-repeat 0 0;
  margin-top: 0;
  margin-bottom: 0.8em;
  font-weight: bold;
  height:26px;
  padding: 18px 0 5px 30px;
  font-size: 1.5em;
  color: #273e83;
  text-align: left;
}

.imageFrame {
        padding:4px;
        background: #ffffff;
        border:1px solid #cccccc;
}

.raterContent img {
  margin-right:3px;
  margin-left:3px;
  border:1px solid #fff;
}
.raterContent span {
  font-size:80%;
  color:#3f7c5f;
  font-weight:bold;
}
.raterContent .faceOver {
  border:1px solid blue;
  background:#fff;
}

.cornerBookmark {
  background:#b2cbea;
  font-size: 8pt;
  background-image:url(http://www.informationr.net/images/corner_br.gif);
  background-repeat:no-repeat;
  background-position: right bottom;
  padding:1px 4px 1px 4px;
}

.rightAngle {
        border: 1px solid #cccccc;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;

}

.spotlightHeader {
        height: 40px;
        width: 700px;
        background: url(http://www.informationr.net/images/spotlightHeader.gif) no-repeat;
}

.yellowFadeHeader {
        height: 30px;
        width: 550px;
        background: url(http://www.informationr.net/images/yellowFade550.gif) no-repeat;
}

.yellowFadeHeader705 {
        height: 30px;
        width: 705px;
        background: url(http://www.informationr.net/images/yellowFade705.gif) no-repeat;
}

.orangeBorder {
        height: 125px;
        width: 350px;
        background: url(http://www.informationr.net/images/orangeBorderBackground.gif) no-repeat;
}

/*
 * Case Study / Vertical
 */
#casestudyHeader {
        float: left;
        width: 400px;
        padding: 0 0 0 50px;
        height: 200px;
        color: #696767;
        font-size: 11px;
        margin-top: 0px;
        background: url(http://www.informationr.net/images/casestudy/bg.jpg) no-repeat;
}

#casestudyHeader div {
        float: left;
        margin-bottom: 6px;
}


#casestudyHeader h1 {
                margin: 10px 0 10px 0;
                color: #696767;
                font-size: 18px;
}

#casestudyHeader .label {
        float: left;
        width: 80px;
        font-weight: bold;
}

#casestudyHeader .description {
        float: left;
        width: 320px;
}
#casestudyHeader .buttons {
        width: 100%;
        position: relative;
        z-index: 100;
        height: 200px;
}


#casestudyHeader .buttons .view, #casestudyHeader .buttons .casestudies {
        position: absolute;
        height: 1%;
        top: 158px;
}
#casestudyHeader .buttons .casestudies {
        left: 58px;
}

#casestudyHeader .buttons .view {
        left: 222px;
}

/* Page Numbers Used By the Pager */
.pages {
    padding:1px;
    clear: left;
}

.pages a, .pages span {
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #fff;
    background: #fff;
    text-decoration:none;
}

.pages span.current {
    border: 1px solid #2E6AB1;
    font-weight: bold;
    background: #2E6AB1;
    color: #fff;
}

.pages a {
    border: 1px solid #9AAFE5;
    text-decoration: none;
}

.pages a:hover {
    border-color: #2E6AB1;
}

.pages a.nextprev {
    font-weight: bold;
    text-decoration:none;
}

.pages span.nextprev {
    color: #666;
}

.pages span.nextprev {
        border: 1px solid #ddd;
        color: #999;
}

.handPointer {
        cursor:pointer;
        cursor:hand;
}

#stockframe {
        display:block;
        position:relative;
        width:100%;
        background-repeat:no-repeat;
        color: #fff;
        font-weight:bold;
}

#stockframe .nobg {
        display:none;
        visibility:hidden;
}

* html #stockframe .nobg {
        display:inherit;
        visibility:visible;
}

#stockframe a {
        color:#fff;
        text-decoration:none;
}       

#stockframe a:hover {
        color:#fff;
        text-decoration:underline;
}       

#stockframe .ftitle {
        color: #fff;
        height: 32px;
        padding-top: 2px;
        padding-left:12px;
        margin:0;
        display:block;
        position:absolute;
        left:0;
        top:0;
        font-size:140%;
        font-weight:normal;
        line-height:28px;
        font-weight:bold;
        text-align:left;
}

#stockframe .ftitle_bg {
        background: transparent url(http://www.informationr.net/images/stockframe/top_left.png) no-repeat;
}

.microStockTop { 
        height: 25px;
        background-repeat: repeat-x;
        background-image: url("http://www.informationr.net/images/stockframe/microStockTop7.gif");
}

.microStockBottom { 
        height: 15px;
        width: 598px;
        overflow: hidden;
        background-image: url("http://www.informationr.net/images/stockframe/microStockBottom7.gif");
}

* html #stockframe .ftitle_bg {
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/stockframe/top_left.png", sizingMethod="crop");
}


#stockframe div.trans {
        position:absolute;
        display:block;
        right:40px;
        top:65px;
}

#stockframe div.trans_hd {
        display:block;
        position:relative;
        width:215px;
        height:3px;
        overflow:hidden;
}


#stockframe div.trans_bd {
        display:block;
        position:relative;
        width:215px;
        padding:6px 0 6px 0;
}

#stockframe div.trans_bd p {
        padding-left:6px;
        padding-right:4px;
        color:#fff;
        font-weight:normal;
}

#stockframe div.trans_ft {
        display:block;
        position:relative;
        width:215px;
        height:3px;
        overflow:hidden;
}



#stockframe div.trans_hd_bg {
        background: transparent url(http://www.informationr.net/images/stockframe/box_top.png) no-repeat;
}

#stockframe div.trans_bd_bg {
        background: transparent url(http://www.informationr.net/images/stockframe/box.png) repeat-y;
}
#stockframe div.trans_ft_bg {
        background: transparent url(http://www.informationr.net/images/stockframe/box_bottom.png) no-repeat;
}

.summaryReportBox {
        border: 1px solid #413f3f;
        padding: 15px 8px 15px 8px;
}

.lightBlueFade { 
        background-repeat: repeat-x;
        background-image: url("http://www.informationr.net/images/lightBlueFade.png");
}

.flashMessage {
        background: #ffffcc; 
        border: 1px solid #cccccc; 
        padding-top: 8px; 
        padding-bottom: 8px; 
        padding-left:3px; 
        padding-right:3px;
        width:300px;
        text-align:center;
}

.sectionMenuHighlight {
        background: #ffffcc; 
        border: 1px solid #eeee00; 
        padding: 8px 3px 8px 3px;
}

.sectionMenuNormal {
        background: #ffffff; 
        border: 1px solid #ffffff; 
        padding-top: 8px; 
        padding-bottom: 8px;
}

input.box {
  color: #666;
  padding: 4px 0 4px 3px;
  border: 1px solid #CCC;
  border-top-color: #666;
  border-left-color: #999;
  background: #FFF url(http://www.informationr.net/images/is_i_b.gif) no-repeat;
}
input.box:focus {
  color: #333;
  background-image: url(http://www.informationr.net/images/is_i_a.png);
}

textarea.box {
  color: #666;
  padding: 4px 0 4px 3px;
  border: 1px solid #CCC;
  border-top-color: #666;
  border-left-color: #999;
  background: #FFF url(http://www.informationr.net/images/is_i_b.gif) no-repeat;
}
textarea.box:focus {
  color: #333;
  background-image: url(http://www.informationr.net/images/is_i_a.png);
}
textarea.focus {
  color: #333;
  background-image: url(http://www.informationr.net/images/is_i_a.png);
}
select.box {
  color: #666;
  padding: 4px 0 4px 3px;
  border: 1px solid #CCC;
  border-top-color: #666;
  border-left-color: #999;
  background: #FFF url(http://www.informationr.net/images/is_i_b.gif) no-repeat;
}

select.box:focus {
  color: #333;
  background-image: url(http://www.informationr.net/images/is_i_a.png);
}


td.buttonLeft { 
        padding-top:3px; 
        padding-bottom:3px; 
        width:5px;
}

td.buttonCenter {         
        padding-top:3px; 
        padding-bottom:3px; 
}

td.buttonRight {         
        padding-top:3px; 
        padding-bottom:3px; 
        width:5px;
}


/*
 * Icons
 */
.iconLink {
        font-family: Arial; 
        font-size: 8pt;
        vertical-align: middle;
        color: #413f3f;
}

a.iconLink, a.iconLink:visited, a.iconLink:link { 
        text-decoration: none; 
        color: #413f3f;
}

a.iconLink:hover { 
        text-decoration: underline; 
}

.iconDiv {
        width:24px;          
}

